.portfolio-details-content .intro .like {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: color-mix(in srgb, var(--accent-color), transparent 90%);
  color: var(--accent-color);
  transition: all 0.3s ease;
}
.portfolio-details-content .intro .like:hover {
  background: var(--accent-color);
  color: var(--contrast-color);
  transform: translateY(-2px);
}

.portfolio-details-content .intro .like i {
  font-size: 1.2rem;
}
