.social-links {
  display: flex;
  gap: 1rem;
}

 .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: color-mix(in srgb, var(--accent-color), transparent 90%);
  color: var(--accent-color);
  transition: all 0.3s ease;
}
.social-links a:hover {
  background: var(--accent-color);
  color: var(--contrast-color);
  transform: translateY(-2px);
}

.social-links a i {
  font-size: 1.2rem;
}


